html {
    font-size:10px;
}
.main {
    width: 100rem;
    height:55rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-image: linear-gradient(rgba(251, 36, 3, 0.619),rgba(3, 52, 127, 0.575));
    box-shadow: 1.2rem 1.2rem rgba(255, 255, 255, 0.73);
}
body {
    background-image: url("cbg.jpg");
    background-size: cover;

}
.btn {
    margin-top: 0.8rem;
    margin-right: 1.6rem;
    margin-left: 1.6rem;
    font-family: 'Caprasimo', cursive;
    line-height: 2.5rem;
    border-radius: 0.4rem;
    background-color: rgb(50, 227, 227);
    padding: 0.4rem 0.8rem;
    font-weight:0.9rem;
    font-size: 1.6rem;
    border: 0.2rem solid;
    transition: all 0.5s;
}
.btn:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(238, 9, 135);
}

.nav-bar {
    width: 100rem;
    height: 4rem;
    display: flex;
    justify-content:left;

}
.soc-med {
    width:6rem;
    height:51rem;

    margin-left: auto;
    display:block;
}
.my-intro {
    width:94rem;
    height:51rem;
    
    text-align: center;
}
.my-about {
    width:94rem;
    height:51rem;
    
    text-align: center;
}
.vaibhavi {
    font-size:10rem;
    font-family: 'Caprasimo', cursive;
    color: azure;
}
.name{
    animation-name: effect;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes effect {
    0%{
        color:azure;
    }
    20%{
        color:rgb(19, 228, 228);
    }
    40%{
        color:rgb(164, 232, 19);
    }
    60%{
        color:rgb(228, 152, 214);
    }
    80%{
        color:rgb(199, 132, 244);
    }
    100%{
        color:rgb(244, 208, 78);
    }
}

.prof {
    font-size: 2.5rem;
    color: azure;
}
.twoinone {
    display:flex;
}
i {
    display: block;
    margin-top: 4rem;
    color:bisque;
    text-decoration: none;
    transition: all 0.5s;
}
i:hover{
    color: yellow;
    transform: scale(1.2,1.2);

}
.para {
    font-size: 3rem;
    margin: 2rem;
    font-weight: 700;
    font-family: 'Cedarville Cursive', cursive;
    color: rgb(239, 174, 89);
}
.paradiv {
    width:90rem;
    height:50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}
.my-projects {
    display: flex;

}
.prodes {
    background-color:rgb(2, 9, 73) ;
    color: aliceblue;
    margin-top: 1rem;
    height: 48rem;
    width: 20rem;
    padding: 1rem;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 3rem;
    animation-name: diff;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    
}
@keyframes diff {
    0%{
        background-color:rgb(89, 6, 8) ;
    }
    20%{
        background-color:rgb(4, 73, 27) ;
    }
    40%{
        background-color:rgb(24, 149, 8) ;
    }
    60%{
        background-color:rgb(70, 19, 76) ;
    }
    80%{
        background-color:rgb(52, 33, 3) ;
    }
    100%{
        background-color:rgb(2, 9, 73,) ;
    }
}
.two {
    width:37rem;
    height: 44rem;
    margin-top: 1rem;
    display: grid;
    padding: 1rem;
}
.box {
    text-align: center;
    font-size: 3rem;
    font-family: 'Black Ops One', cursive;
}
.box1 {
    height: 21rem;
    background-color: rgba(255, 255, 0, 0.544);
    color: rgb(4, 4, 82);
    padding-top: 2rem;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: all 0.5s;
}
.box1:hover {
    transform: scale(0.8,0.8);
}
.box2 {
    background-color: rgba(165, 42, 42, 0.527);
    color: yellow;
    padding-top: 5rem;
    text-decoration: none;
    height: 19rem;
    transition: all 0.5s;
}
.box2:hover {
    transform: scale(0.8,0.8);
}
.one {
    height: 19rem;
    width: 24rem;
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: 'Black Ops One', cursive;
    margin-top:12rem ;
    text-decoration: none;
    background-color: rgba(244, 133, 133, 0.558);
    color: brown;
    transition: all 0.5s;
}
.one:hover {
    transform: scale(0.8,0.8);
}
a {
    text-decoration: none;
}
@media screen and (max-width:600px) {
    .main {
        width: 90rem;
        height:140rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-image: linear-gradient(rgba(251, 36, 3, 0.619),rgba(3, 52, 127, 0.575));
        box-shadow: 1.2rem 1.2rem rgba(255, 255, 255, 0.73);
    }
    .soc-med {
        width:60rem;
        height:5rem;
        margin-top: 50rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        justify-content:space-evenly;
    }
    .soc{
        margin-top: 20px;
        width: 90rem;
    }
    i {
        display: inline-flex;
        margin-top: 4rem;
        color:bisque;
        text-decoration: none;
        transition: all 0.5s;
    }
    .twoinone {
        display:flex;
        flex-direction: column;
        width: 100rem;
    }
    .my-intro {
        width:90rem;
        height:50rem;
        margin-top: 5rem;
        text-align: center;
    }
    .nav-bar {
        width: 90rem;
        height: 4rem;
        display: flex;
        justify-content:space-evenly;
    
    }
    .my-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .prodes{
        width:60rem;
        height:fit-content;
        margin-right: auto;
        
        margin-top: 5rem;
    }
    
    
   
}