.main {
    width: 1000px;
    height:550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-image: linear-gradient(rgba(233, 59, 7, 0.619),rgba(0, 110, 255, 0.575));
    box-shadow: 12px 12px;
}
body {
    background-image: url("cbg.jpg");
    background-size: cover;
}
.btn {
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 16px;
    font-family: 'Caprasimo', cursive;
    line-height: 25px;
    border-radius: 4px;
    background-color: rgb(50, 227, 227);
    padding: 4px 8px;
    font-weight:900;
    font-size: 16px;
    border: 2px solid;
    transition: all 0.5s;
}
.btn:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(238, 9, 135);
}

.nav-bar {
    width: 1000px;
    height: 40px;
    display: flex;
    justify-content:left;

}
.soc-med {
    width:60px;
    height:510px;

    margin-left: auto;
    display:block;
}
.my-intro {
    width:940px;
    height:510px;
    
    text-align: center;
}
.my-about {
    width:940px;
    height:510px;
    
    text-align: center;
}
.vaibhavi {
    font-size:100px ;
    font-family: 'Caprasimo', cursive;
    color: azure;
}
.name{
    animation-name: effect;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes effect {
    0%{
        color:azure;
    }
    20%{
        color:rgb(19, 228, 228);
    }
    40%{
        color:rgb(164, 232, 19);
    }
    60%{
        color:rgb(228, 152, 214);
    }
    80%{
        color:rgb(199, 132, 244);
    }
    100%{
        color:rgb(244, 208, 78);
    }
}

.prof {
    font-size: 25px;
    color: azure;
}
.twoinone {
    display:flex;
}
i {
    display: block;
    margin-top: 40px;
    color:bisque;
    text-decoration: none;
    transition: all 0.5s;
}
i:hover{
    color: yellow;
    transform: scale(1.2,1.2);

}
.para {
    font-size: 30px;
    margin: 20px;
    font-weight: 700;
    font-family: 'Cedarville Cursive', cursive;
    color: rgb(239, 174, 89);
}
.paradiv {
    width:900px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.my-projects {
    display: flex;

}
.prodes {
    background-color:rgb(2, 9, 73) ;
    color: aliceblue;
    margin-top: 10px;
    height: 480px;
    width: 200px;
    padding: 10px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    animation-name: diff;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    
}
@keyframes diff {
    0%{
        background-color:rgb(89, 6, 8) ;
    }
    20%{
        background-color:rgb(4, 73, 27) ;
    }
    40%{
        background-color:rgb(24, 149, 8) ;
    }
    60%{
        background-color:rgb(70, 19, 76) ;
    }
    80%{
        background-color:rgb(52, 33, 3) ;
    }
    100%{
        background-color:rgb(2, 9, 73,) ;
    }
}
.two {
    width:370px;
    height: 440px ;
    margin-top: 10px;
    display: grid;
    padding: 10px;
}
.box {
    text-align: center;
    font-size: 30px;
    font-family: 'Black Ops One', cursive;
}
.box1 {
    height: 210px;
    background-color: rgba(255, 255, 0, 0.544);
    color: rgb(4, 4, 82);
    padding-top: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    transition: all 0.5s;
}
.box1:hover {
    transform: scale(0.8,0.8);
}
.box2 {
    background-color: rgba(165, 42, 42, 0.527);
    color: yellow;
    padding-top: 50px;
    text-decoration: none;
    height: 190px;
    transition: all 0.5s;
}
.box2:hover {
    transform: scale(0.8,0.8);
}
.one {
    height: 190px;
    width: 240px;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Black Ops One', cursive;
    margin-top:120px ;
    text-decoration: none;
    background-color: rgba(244, 133, 133, 0.558);
    color: brown;
    transition: all 0.5s;
}
.one:hover {
    transform: scale(0.8,0.8);
}
a {
    text-decoration: none;
}