.main {
    width: 1000px;
    height:550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-image: linear-gradient(rgba(233, 59, 7, 0.619),rgba(0, 110, 255, 0.575));
    box-shadow: 12px 12px;
}
body {
    background-image: url("cbg.jpg");
    background-size: cover;
}
.btn {
    margin-top: 4px;
    margin-right: 16px;
    margin-left: 16px;
    font-family: 'Caprasimo', cursive;
    line-height: 25px;
    border-radius: 4px;
    background-color: rgba(233, 253, 253, 0.492);
    padding: 4px 8px;
    font-weight:900;
    font-size: 16px;
}
.nav-bar {
    width: 1000px;
    height: 40px;
    display: flex;
    justify-content:left;

}
.soc-med {
    width:60px;
    height:510px;

    margin-left: auto;
    display:block;
}
.my-intro {
    width:940px;
    height:510px;
    
    text-align: center;
}
.my-about {
    width:940px;
    height:510px;
    
    text-align: center;
}
.vaibhavi {
    font-size:100px ;
    font-family: 'Caprasimo', cursive;
    color: azure;
}
.prof {
    font-size: 25px;
    color: azure;
}
.twoinone {
    display:flex;
}
i {
    display: block;
    margin-top: 40px;
    color:bisque;
    text-decoration: none;
}
i:hover{
    color: rgb(146, 225, 232);
}
.para {
    font-size: 30px;
    margin: 20px;
    font-weight: 700;
    font-family: 'Cedarville Cursive', cursive;
    color: rgb(239, 174, 89);
}
.paradiv {
    width:900px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.my-projects {
    display: flex;

}
.prodes {
    background-color:rgb(2, 9, 73) ;
    color: aliceblue;
    margin-top: 10px;
    height: 480px;
    width: 200px;
    padding: 10px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    
}
.two {
    width:370px;
    height: 440px ;
    margin-top: 10px;
    display: grid;
    padding: 10px;
}
.box {
    text-align: center;
    font-size: 30px;
    font-family: 'Black Ops One', cursive;
}
.box1 {
    height: 210px;
    background-color: rgba(255, 255, 0, 0.544);
    color: rgb(4, 4, 82);
    padding-top: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}
.box2 {
    background-color: rgba(165, 42, 42, 0.527);
    color: yellow;
    padding-top: 50px;
    text-decoration: none;
    height: 190px;
}
.one {
    height: 190px;
    width: 240px;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Black Ops One', cursive;
    margin-top:120px ;
    text-decoration: none;
    background-color: rgba(244, 133, 133, 0.558);
    color: brown;
}
a {
    text-decoration: none;
}